// Smaller resolution desktop or laptop
@media only screen and (max-width: 1100px) {
  .wrap {
    width: 95%;
  }
}

  /* @media only screen and (min-device-width : 300px) and (max-device-width : 600px) {*/
@media only screen and (max-width: 800px) {

  .resp_hide {
    display: none !important;
  }
  .resp_show {
    display: inherit;
  }

  #header {

    #bridge_logo,
    #bridge_logo img {
      max-width: 300px;
      display: block;
      max-height: 24px;
    }

    .header-bottom {
      text-align: center;

      ul.header-menu {
        margin: auto;
      }
    }
  }

  #container {
    padding: 20px 0px;
  }


  .notice {
    font-size: 14px;
  }

  .popup {
    position: fixed;
    top: auto;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 0px;
  }

  .wrap {
    width: 100%;
  }

  #bridge {
    height: auto;
    text-align:center;
  }

  #showcase {
    height: 420px;
  }

  .showcase_heading {
    font-size: 18px;
  }

  .showcase_button {
    padding: 15px 20px;
  }

  .button_devider {
    display: block;
    margin: 10px 0px;
  }

  #user_panel {
    float: none;
  }

  #order-flow {
    padding: 0;
  }

  #dashbox_wrap {
    min-width: 100%;
    width: 100%;
    box-sizing: border-box;
  }

  form#dashbox {
    width: 100%;
    box-sizing: border-box;
  }

  #dashbox .dashbox_textbox {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }

  #dashbox_button {
    width: 100%;
  }

  .resp_expand {
    width: 100%;
  }

  #content {
    width: 95%;
  }

  #footer {
    height: auto;
    text-align: center;
  }

  ul.footer_menu li {
    display: block;
    margin: 0px;
  }

  .copyright {
    text-align: center;
  }

  .order_status {
    width: 90%;
  }

  .copyright {
    float: none;
    display: block;
  }

  .page-heading {
    text-align: center;
  }

  .col {
    width: 100% !important;
    margin-bottom: 20px;
  }

  select {
    width: 100%;
  }

  input.textbox,
  textarea {
    width: 100%;
    padding: 15px 5px;
  }

  .textbox-container {
    width: 100%;
    box-sizing: border-box;

    input.textbox {
      width: 90%;
    }
  }

  input {
    margin: 2px 0px;
  }

  .modal-container {
    width: 95%;
  }

  ul.pagination {
    margin: auto;
    text-align: center;
  }



} /* END MEDIA QUERY */

@media only screen and (max-width: 600px) {

  .section {
    padding: 20px 10px;
    box-sizing: border-box;
  }

  .row-collapse {
    display: block !important;
  }

  .row-collapse .wid-5,
  .row-collapse .wid-10,
  .row-collapse .wid-15,
  .row-collapse .wid-20,
  .row-collapse .wid-25,
  .row-collapse .wid-30,
  .row-collapse .wid-40,
  .row-collapse .wid-50,
  .row-collapse .wid-60,
  .row-collapse .wid-70,
  .row-collapse .wid-80,
  .row-collapse .wid-90,
  .row-collapse .wid-100
  {
    width: auto;
  }

  .row-collapse .flex-cell {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  #model {
    width: 95%;
    overflow-y: scroll;
  }

  .estab .info .desc {
    font-size:12px;
  }

  .calendar_day {

    width: auto;
  }

  .calendar_shift {
    cursor: pointer;
    height: auto;
  }

  ul.tab-menu {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    &.tab-menu-across {

      li {
        width: auto;
      }
    }

    li {
      display: inline-block;
      width: auto;
      padding: 15px;
    }

    li span {
      display: none;
    }
  }



} /* END MEDIA QUERY */


